@font-face {
    font-family: 'FzKai';
    src: url('/assets/fonts/方正楷体.ttf');
}

@font-face {
    font-family: 'FzHei';
    src: url('/assets/fonts/方正黑体.ttf');
}

@font-face {
    font-family: 'HanYiShuHunTi';
    src: url('/assets/fonts/汉仪书魂体.ttf');
}

@font-face {
    font-family: 'YeGenYouGuKeTi';
    src: url('/assets/fonts/叶根友古刻体.ttf');
}

@font-face {
    font-family: 'MsYaHei';
    src: url('/assets/fonts/微软雅黑.ttf');
}

